<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Magic: Compressify</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>🚀 Image Compression Magic 🚀</h2>

    <div id="compressed-message" <% if (!isCompressed) { %>
      style="display: none;"<% } %>>

      <!-- Display information about the compressed image -->
      <p>Original Size: <%= originalSize %> bytes</p>
      <p>Compressed Size: <%= compressedSize %> bytes</p>
      <p>Compression Percent: <%= percent %> %</p>
      <img
        src="<%= compressedImagePath %>"
        alt="Compressed Image"
        style="max-width: 100%; height: 300px; border-radius: 8px; object-fit: cover"
      />
      <p>Your image has been magically compressed and saved! ✨</p>
      <button id="compress-another">Compress Another</button>
    </div>

    <div id="compress-form" <% if (isCompressed) { %>
      style="display: none;"<% } %>>
      <form method="POST" action="/compress-image" enctype="multipart/form-data">
        <label for="fileInput" class="custom-file-input">Choose Image</label>
        <input type="file" name="image" id="fileInput" accept="image/*" />
        <div style="height: 10px; padding-top: 5px">
          <p id="validationMessage" style="color: red; display: none; margin-top: 0">
            Please choose an image.
          </p>
          <p id="successMessage" style="color: green; display: none; margin-top: 0">
            File selected! Click 'Compress Image' to compress.
          </p>
        </div>
        <input type="submit" style="margin-top: 2.5rem" value="Compress Image" />
      </form>
    </div>

    <script>
      document.getElementById("compress-another").addEventListener("click", function () {
        // Hide the compressed message and show the form
        window.location.href = "/";
        document.getElementById("compressed-message").style.display = "none";
        document.getElementById("compress-form").style.display = "block";
      });

      document.querySelector("form").addEventListener("submit", function (event) {
        // Check if the file input is blank
        var fileInput = document.getElementById("fileInput");
        if (fileInput.files.length === 0) {
          // Show the validation message and prevent form submission
          document.getElementById("validationMessage").style.display = "block";
          event.preventDefault();
        }
      });

      document.getElementById("fileInput").addEventListener("change", function (event) {
        // Check if the file input is not blank
        var fileInput = document.getElementById("fileInput");
        if (fileInput.files.length !== 0) {
          // Hide the validation message and show the success message
          document.getElementById("validationMessage").style.display = "none";
          document.getElementById("successMessage").style.display = "block";
        } else {
          // If the file input is blank, hide the success message
          document.getElementById("successMessage").style.display = "none";
        }
      });
    </script>
  </body>
</html>
