/* styles.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

#compress-form,
#compressed-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 450px;
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="submit"],
#compress-another {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
#compress-another:hover {
  background-color: #45a049;
}

p {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

.custom-file-input {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  border: 1px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: #2980b9;
}

.custom-file-input:active {
  background-color: #1f618d;
}

form {
  display: flex;
  flex-direction: column;
}
